.btn {
  cursor: pointer;
  font-size: $default-font-size;

  &__login {
    padding: 1rem 4rem;
    display: block;
    background-color: #fff;
    margin: 0 auto $m-size auto;
    color: $color-grey;
    border-radius: 10rem;
    width: 30rem;
    text-align: left;
    transition: all 0.2s;

    @include respond(phone) {
      width: 25rem;
      padding: 1rem 2.5rem;
    }

    &:hover {
      color: #fff;
      border: 2px solid $color-dark-grey;
    }

    &--google:hover {
      background-color: $color-google;
    }

    &--twitter:hover {
      background-color: $color-twitter;
    }

    &--facebook:hover {
      background-color: $color-facebook;
    }

    &--yahoo:hover {
      background-color: $color-yahoo;
    }
  }
}

.btn:disabled {
  cursor: default;
}
