.expense-chart {
  box-shadow: 0 0.2rem 0.3rem rgba(#000, 0.15);
  padding: 2rem;
  border: 1px solid #eee;
  border-radius: 8px;

  @include respond(phone) {
    box-shadow: none;
  }

  &__title {
    font-size: $normal-font-size;
    font-weight: 500;
    color: $color-grey-2;
    padding: 0 0 $s-size;
    text-align: center;
    text-transform: uppercase;
    border-bottom: 1px solid $color-light-blue-2;
    margin-bottom: 1rem;
  }

  &__loader {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}
