.error {
  max-width: 200rem;
  padding: 2rem;
  text-align: center;

  &__illustration {
    max-width: 70%;
    height: auto;
    margin: $l-size 1rem;

    @include respond(phone) {
      max-width: 100%;
    }
  }

  &__text {
    font-size: $large-font-size;
    font-weight: 400;
  }

  &__explanation {
    font-size: $default-font-size;
  }

  &__action {
    display: block;
    margin-top: $m-size;
  }
}

.no-expense {
  width: 30rem;
  margin: 0 auto;
  padding: 0 1rem;

  @include respond(narrow-phone) {
    width: 25rem;
  }

  &__illustration {
    width: 25rem;
    height: auto;

    @include respond(narrow-phone) {
      width: 20rem;
    }
  }

  p {
    text-align: center;
  }
}
