.error {
  max-width: 200rem;
  padding: 2rem;
  text-align: center;

  &__illustration {
    max-width: 70%;
    height: auto;
    margin: $l-size 1rem;

    @include respond(phone) {
      max-width: 100%;
    }
  }

  &__text {
    font-size: $large-font-size;
    font-weight: 400;
    line-height: 1.2;
    margin-bottom: 1.2rem;
  }

  &__explanation {
    font-size: $default-font-size;
  }

  &__action {
    display: block;
    margin-top: $m-size;
  }
}

.no-expense {
  width: 30rem;
  margin: 0 auto;
  padding: 0 1rem;

  @include respond(narrow-phone) {
    width: 25rem;
  }

  &__illustration {
    width: 25rem;
    height: auto;

    @include respond(narrow-phone) {
      width: 20rem;
    }
  }

  p {
    margin-top: 1rem;
    text-align: center;
    font-weight: 500;
  }
}

.auth-error {
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translate(-50%, -5%);
  background-color: $color-bg;
  font-size: $normal-font-size;
  color: $color-primary-dark;
  width: fit-content;
  border-radius: 3px;
  padding: 1.5rem;
  animation: fadeIn 1.2s ease-in;

  &__close {
    @include resetButtonStyle;
    font-size: $default-font-size;
    position: relative;
    left: 95%;
    cursor: pointer;

    &:hover {
      color: $color-primary-2;
    }
  }

  &__text {
    display: block;
    font-size: $default-font-size;
    font-weight: 500;
    text-align: center;
    margin: -15px 0 5px;
  }

  &__explanation {
    display: block;
    text-align: center;
  }

  &__btn {
    @include resetButtonStyle;
    border-radius: 3px;
    color: #fff;
    display: block;
    padding: 5px 2rem;
    margin: 5px auto;
    background-color: $color-primary-2;
  }
}
