.mobile-filter {
  display: inline-block;

  @include respond(tab-port) {
    display: flex;
    justify-content: space-between;
  }

  &__toggler {
    color: $color-grey-2;
    font-size: $normal-font-size;
    font-weight: 500;
    margin: 1rem;
    cursor: pointer;

    @include respond(tab-port) {
      display: inline-block;
    }

    @include respond(phone) {
      margin: 1.5rem 2px 0;
    }

    &--active {
      color: $color-primary-2;
    }
  }

  &__text {
    @media only screen and (max-width: 390px) {
      display: none;
    }

    & + sup {
      padding: 2px;
      font-size: 50%;
      top: -1.5em;
      color: $color-primary-2;
    }
  }

  &__toggle {
    display: inline-block;

    @include respond(tab-port) {
      display: none;
    }
  }

  &--show {
    @include respond(tab-port) {
      display: block;
    }
  }

  &--hide {
    @include respond(tab-port) {
      display: none;
    }
  }
}
