.footer {
  color: $color-light-grey;
  font-size: $small-font-size;
  font-weight: 500;
  text-align: center;

  &__link {
    text-decoration: none;
    transition: all 0.2s;
    color: $color-light-grey;

    &:hover {
      color: $color-light;
    }
  }

  .social-link {
    font-size: $large-font-size;
    padding: 0 3px;
    margin-left: 10px;
  }

  svg.svg-inline--fa.fa-twitter.fa-w-16.social-link {
    margin-left: 0;
  }

  &--layout {
    grid-area: footer;
    background-color: $color-light;
    padding: 2rem;
    margin-top: 4rem;

    @include respond(tab-port) {
      margin-top: 3rem;
    }

    .footer {
      color: $color-grey-2;

      &__link {
        text-decoration: none;
        color: $color-grey-2;

        &:hover {
          color: $color-primary;
        }
      }
    }
  }
}
