.header {
  background: $color-bg;
  font-size: $normal-font-size;
  grid-area: nav;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 $s-size;
  color: $color-dark-grey;

  &__icon {
    display: none;

    & > svg {
      font-size: $large-font-size;
      cursor: pointer;
    }

    @include respond(tab-land) {
      display: inline;
    }
  }

  &__center {
    max-width: calc(100vw - 40%);
  }

  &__title {
    display: none;
    padding: $s-size;
    color: $color-primary-dark;
    font-size: 1.5rem;
    font-weight: 500;
    letter-spacing: 1px;
    vertical-align: middle;
    @include shortenLongText;

    @include respond(tab-land) {
      display: inline-block;
    }
  }

  .user-info {
    &__wrapper {
      img {
        margin-left: 1rem;
        border-radius: 50%;
        height: 4rem;
        width: 4rem;
        vertical-align: middle;
        padding: 4px;
        cursor: pointer;
        transition: all 0.2s;

        &:hover {
          border: 2px solid $color-light-grey;
          & + .user-info__details {
            background-color: #fff;
            visibility: visible;
            opacity: 1;
            left: 83%;
            padding: $s-size;
            border-radius: 3px;
            box-shadow: 0 0.3rem 0.5rem rgba(#000, 0.2);
            width: 22rem;
            z-index: 100;

            @include respond(tab-land) {
              left: 80%;
            }

            @include respond(tab-port) {
              left: 70%;
            }

            @include respond(phone) {
              left: 50%;
            }
          }
        }
      }
    }

    &__details {
      visibility: hidden;
      opacity: 0;
      transition: visibility 0s, opacity 0.2s;
      position: absolute;

      p {
        @include shortenLongText;

        &:first-child {
          font-weight: 700;
        }
      }
    }
  }

  @include respond(tab-land) {
    position: fixed;
    width: 100%;
    z-index: 10;
  }
}
