.input-field {
  display: flex;
  flex-direction: column;

  &__wrapper {
    margin-bottom: $m-size;
    position: relative;
  }

  &__helper {
    position: absolute;
    font-size: $small-font-size;
    color: $color-dark-grey;
    background-color: #fff;
    top: -10px;
    left: 10px;
    padding: 1px 5px;
    opacity: 0;
    transition: all 0.2s;
  }

  &--has-error {
    border-color: $color-danger;
  }

  &--has-value {
    opacity: 1;
    color: $color-grey;
  }

  &__error-msg {
    display: inline-block;
    color: $color-danger;
    margin: 0.8rem 0 0 1rem;
    font-size: $small-font-size;
  }
}

.text-input--form:focus,
.textarea--form:focus {
  transition: all 0.2s;

  &::placeholder {
    opacity: 0;
  }

  & + .input-field__helper {
    opacity: 1;
    color: $color-primary;
  }
}
