.text-input {
  border: 1px solid #cacccd;
  border-radius: 5px;
  height: 50px;
  font-size: $normal-font-size;
  padding: $s-size;
  color: $color-dark-grey;

  @include respond(tab-port) {
    font-size: $default-font-size;
  }

  &:focus {
    outline: none;
    border-color: $color-primary;
    box-shadow: 0 0 1px $color-primary;
  }

  &--search {
    padding-right: $l-size;
    height: 30px;

    @include respond(phone) {
      padding-right: 0;
    }

    &__icon {
      position: relative;
      left: -2rem;
      margin-top: 9px;
      color: $color-light-grey;
    }
  }

  &__label {
    color: $color-dark-grey;
  }

  &--form {
    width: 100%;
  }
}

.dropdown {
  font-size: $normal-font-size;

  @include respond(tab-port) {
    font-size: $default-font-size;
  }

  &--sort {
    @include resetButtonStyle;
    color: $color-primary-2;
    font-weight: 500;
    padding: 0;
  }

  &--category,
  &--currency {
    @extend .text-input;
    width: 100%;
    background-color: #fff;
  }
}

.textarea {
  @extend .text-input;
  height: 10rem;
  width: 100%;
}

.input-field {
  display: flex;
  flex-direction: column;

  &__wrapper {
    margin-bottom: $m-size;
    position: relative;
  }

  &__helper {
    position: absolute;
    font-size: $small-font-size;
    color: $color-dark-grey;
    background-color: #fff;
    top: -10px;
    left: 10px;
    padding: 1px 5px;
    opacity: 0;
    transition: all 0.2s;
  }

  &--has-error {
    border-color: $color-danger;
  }

  &--has-value {
    opacity: 1;
    color: $color-grey;
  }

  &__error-msg {
    display: inline-block;
    color: $color-danger;
    margin: 0.8rem 0 0 1rem;
    font-size: $small-font-size;
  }

  &__back {
    font-size: 2.4rem;
    margin-bottom: 2rem;
    cursor: pointer;
  }
}

.text-input--form:focus,
.textarea--form:focus,
.dropdown--category:focus {
  transition: all 0.2s;

  &::placeholder {
    opacity: 0;
  }

  & + .input-field__helper {
    opacity: 1;
    color: $color-primary;
  }
}

.input-group {
  margin-bottom: $m-size;
  font-size: $normal-font-size;

  &__item {
    display: inline-block;
    margin-top: 1rem;

    &:not(:last-child) {
      margin-right: $l-size;

      @include respond(tab-port) {
        margin-right: 1rem;
      }
    }

    @include respond(tab-port) {
      margin-bottom: $s-size;
    }
  }
}
