.input-group {
  margin-bottom: $m-size;
  font-size: $normal-font-size;

  &__item {
    display: inline-block;
    margin-top: 1rem;

    &:not(:last-child) {
      margin-right: $l-size;

      @include respond(tab-port) {
        margin-right: 1rem;
      }
    }

    @include respond(tab-port) {
      margin-bottom: $s-size;
    }
  }
}
