.loader {
  background-color: $color-bg;
  height: 100vh;
  width: 100vw;

  &__content {
    @include centerElement;
  }

  &__text {
    color: $color-dark-grey;
    font-size: $default-font-size;
  }
}
