.not-found {
  max-width: 200rem;
  padding: $l-size;
  text-align: center;

  &__illustration {
    max-width: 100%;
    height: auto;
    margin: $l-size 1rem;
  }

  &__text {
    font-size: $large-font-size;
    font-weight: 400;
  }

  &__explanation {
    font-size: $default-font-size;
  }
}

.no-expense {
  width: 30rem;
  margin: 0 auto;
  padding: 0 1rem;

  @include respond(narrow-phone) {
    width: 25rem;
  }

  &__illustration {
    width: 25rem;
    height: auto;

    @include respond(narrow-phone) {
      width: 20rem;
    }
  }
}
