.split-layout {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.2fr 3fr;
  grid-template-areas:
    'left right right right'
    'left right right right';

  @include respond(tab-port) {
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 3fr;
    grid-template-areas:
      'left'
      'left';
  }

  &__left {
    grid-area: left;
    overflow: auto;
    background-color: $color-primary-dark;
    min-width: 39rem;
    padding: 5rem 5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    @include respond(tab-port) {
      background: linear-gradient(
          180deg,
          rgba($color-primary-dark, 0.9) 60%,
          rgba($color-primary-dark, 0.98) 80%
        ),
        url(/public/img/hero.jpg);
      background-size: cover;
      background-position: center;
      min-width: 0;
    }

    @include respond(narrow-phone) {
      padding: 4rem 2rem;
    }
  }

  &__right {
    grid-area: right;
    background: linear-gradient(
        180deg,
        rgba(64, 123, 255, 0.2) 60%,
        rgba(47, 46, 65, 0.8) 80%
      ),
      url(/public/img/hero.jpg);
    color: $color-light;
    background-size: cover;
    background-position: top;
    position: relative;
    overflow: hidden;

    @include respond(tab-port) {
      display: none;
    }
  }
}

.login-content {
  &__logo-box {
    width: 100%;
    height: auto;
    margin-bottom: $xl-size;

    @include respond(phone) {
      margin-bottom: $m-size;
    }
  }

  &__logo {
    display: block;
    width: 70%;
    height: auto;
    margin: 0 auto;

    @include respond(tab-port) {
      width: 30%;
      min-width: 19rem;
    }
  }

  &__message {
    font-size: $default-font-size;
    font-weight: 400;
    color: $color-light;
    text-align: center;
    margin-bottom: 6rem;
  }
}

.quotes {
  position: absolute;
  top: 85%;
  width: 100%;
  line-height: 1.4;
  padding: 0 $xl-size;
  font-size: $large-font-size;

  &--text {
    font-weight: 700;
  }

  &--author {
    display: inline-block;
    font-size: $default-font-size;
    font-weight: 500;
    text-align: right;
    width: 98%;
  }
}
